POSTGRES_DB=omero
POSTGRES_USER=omero
POSTGRES_PASSWORD=omero-change-me
OMERO_ROOT_PASSWORD=omero-root-change-me
OMERO_SERVER_TAG=latest
OMERO_WEB_TAG=latest
OMERO_WEB_PORT=4080
OMERO_SCAN_DIR=./data/inbox
